{% extends 'padres/base.html' %}


{% block title_pagina %}
<title>Crear persona</title>
{% endblock title_pagina %}


{% block mi_contenido  %}
<form action= {% url 'crear_persona' %} method = "POST">
    {% csrf_token %}
    <table>
        {{formulario}}
    </table>
    
    <button>Crear</button>
</form>
{% endblock mi_contenido  %}




{% comment %} ANTES DE APLICAR FORMULARIO DE DJANGO {% endcomment %}

{% comment %} {% extends 'home/base.html' %}

{% block title_pagina %}
<title>Crear persona</title>
{% endblock title_pagina %}


{% block mi_contenido  %}
<form action= {% url 'crear_persona' %} method = "POST">
    {% csrf_token %}
    <p>
    Nombre:
    <input type ="text" name = "nombre" placeholder= 'Nombre'>  <!--el placeholder es cuando aparece el texto dentro del cuadro donde se mete la info -->
    </p>
    <p>
    <label for ="apellido">Apellido:</label>    
    <input type ="text" name = "apellido" placeholder= 'Apellido'>
    </p>

    {% comment %} <input type="button" value="Crear"> {% endcomment %}      <!-- 3 formas distintas de hacer un button-->
    {% comment %} <input type="submit" value="Crear"> {% endcomment %}
    {% comment %} <button>Crear</button>


</form>
{% endblock mi_contenido  %} {% endcomment %}




 