{% extends 'home/index.html' %}

{% block title_pagina %}
<title>Ver personas</title>
{% endblock title_pagina %}

{% block h1_texto_header %}
VER PERSONAS
{% endblock h1_texto_header %}


{% block index_contenido %}
<a class="navbar-brand" href = {% url 'crear_persona' %}>Crear Persona </a>
<p>Listado de personas:</p>

{% comment %} Creamos un buscador con un formulario ... para buscar se usa un GET{% endcomment %}
<form action= {% url 'ver_personas' %} method = "GET"> 
       {{formulario}}  
       <button>Buscar</button>
</form>
<p>
{% for persona  in  personas %}
        <li>{{persona.nombre}} {{persona.apellido}} {{persona.edad}}</li>
{% endfor %}
</p>
{% endblock index_contenido %}
    